*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #212A53;
}

header{
    height: 100vh;
    width: 99,5vw;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.navbar .logo{
    width: 290px;
    height: 120px;
}

.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 25px;
}


@media screen and (max-width:900px) {
    .nav-links{
        display: none;
    }
    header{
        height: 50vh;
        width: 50vw;
        background-color: #212A53;
        background-size: cover;
    }
}



.container{
    margin-left: 380px;
    margin-top: 50px;
	width: 500px;
	padding: 30px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background-color: #5a04a1;
}
h2{
	margin-bottom: 10px;
	font-size: 24px;
	color: white;
}
input{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	width: 100%;
	padding: 10px;
}
#submit{
	border: none;
	background-color: rgb(247, 247, 247);
	color: rgb(8, 7, 7);
	width: 200px;
	margin-top: 10px;
	border-radius: 5px;
}
#submit:hover{
	background-color: #be92e7;
}
